:root {
--main-title-color:#4D5AE5;
--second-title-color:#2E2F42;
}
body {
 font-family: "Roboto+Serif" , sans-serif;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
 .header {
 }
.header-navgation {
}
.header-logo {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17;
 display: flex;
 align-items: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4D5AE5;
}
.header-list {
     font-family: "Raleway", sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     display: flex;
     align-items: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4D5AE5;
}
 .header-iten {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
 .header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
 .header-link: :is (:hover, :focus) {
 color:#404BBF;
}
 .header-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
 .header-info :hover 
 .header-info:focus{
    color:#404BBF;
}
 .link {
    text-decoration :none
}
.header-tel {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5px;
 letter-spacing: 0.02em;
 color: #434455;
}
 .header-info :hover 
 .header-info:focus{
    color:#404BBF;
 }
 /*section 1*/
 .hero {
}
 .hero-list {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 56px;
 line-height: 1.07;
 text-align: center;
 letter-spacing: 0.02em;
 color: #FFFFFF;
}
 .hero-btn {
 font-family: "Roboto", sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5; 
 display: flex;
 align-items: center;
 letter-spacing: 0.04em;
 color: #FFFFFF;
 cursor: pointer;
}
 .hero-btn :hover
 .hero-btn :focus {
    color: #404BBF;
}
 /*section 2*/
 .abaut {
}
.abaut-list {
 font-family: 'Roboto', sans-serif;;
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2E2F42;
}
.abaut-text {
 font-family: 'Roboto', sans-serif;;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}
 /*section 3*/
 .photo-comp {
}
.photo-comp-title {
 font-family: 'Roboto', sans-serif;;
 font-style: normal;
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color: #2E2F42;
}
.photo-comp-list {
}
.list {
}
 /*section 4*/
 .photo-person {
}
.photo-person-title {
 font-family: 'Roboto', sans-serif;;
 font-style: normal;
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11;
  text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color: #2E2F42;
}
.photo-person-list {
}
.list {
}
.photo-person-name {
 font-family: 'Roboto', sans-serif;;
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 text-align: center;
 letter-spacing: 0.02em;
 color: #2E2F42;
}
.photo-person-text {
 font-family: 'Roboto', sans-serif;;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 text-align: center;
 letter-spacing: 0.02em;
 color: #434455;
}
 /*footer*/
