body {
 font-family: "Roboto+Serif" , sans-serif;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
 .header {
 }
.header-navgation {
}
.header-logo{
}
.header-list {
     font-family: "Raleway", sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     display: flex;
     align-items: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4D5AE5;
}

 .header-iten {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
 .header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
 .header-link: :is (:hover, :focus) {
 color:#404BBF;
}
 .header-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
 .header-info :hover 
 .header-info:focus{
    color:#404BBF;
}
.link text-decoration:none

.header-tel {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5px;
 letter-spacing: 0.02em;
 color: #434455;
}
 .header-info :hover 
 .header-info:focus{
    color:#404BBF;
}
.hero {
}
.hero-title {
}
.hero-btn {
 font-family: inherit;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5; 
 display: flex;
 align-items: center;
 letter-spacing: 0.04em;
 color: #FFFFFF;
 /* IRIS */
 background: #4D5AE5;
}